<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <!-- base:css -->
  <link rel="stylesheet" href="../../../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../../images/favicon.png" />
  <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
  <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>

  <!-- Include Buttons extension CSS and JavaScript -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
  <style>
    /* Style for the search input */
    #searchInput {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }
</style>
</head>
<body onload="createTable()">
 
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include ('./partials/header')%>
    <!-- partial -->
  
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
   
  
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
    
      <% if(user.user_roll == "Admin"){%>
        <%- include ('./partials/sideadmin') %>
     <% }else if(user.user_roll == "Sales_Manager"){%>
      <%- include ('./partials/sidesales') %>
      <% }else if(user.user_roll =="Inventory_Manager"){%>
        <%- include ('./partials/sideinventory') %>
        <% }else{%>
     
          <% }%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-lg-12">
            
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item " aria-current="page">Add To Inventory</li>
    <li class="breadcrumb-item active"><a href="#">Add Other Product</a></li>
  
  </ol>
</nav>
            <div class="row">
              <div class="col-md-12  grid-margin stretch-card">
                <div class="card">
                  <%- include ('./partials/messages') %>
                  <div class="alert alert-dismissible fade show col-sm-12" role="alert" id="success" style="display:none;">
                    <p id="successmsg"></p>
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Add Product To Inventory</h4>
                  
                    <form class="forms-sample"  >
                      <div class="row">
                        <div class="col-md-4">
                          <label for="exampleSelectGender">Select Inventory</label>
                    
                        </div>
                        <div class="col-md-8">
                          <select class="form-control input-sm" id="inventoryname"  name="inventoryname" >
                            <option value="0">Please Select Inventory Name</option>
                         <% if(shoplist.length > 0 ){ %>
                          <% shoplist.forEach(function(row){  %>
                            <option value="<%= row.shopid %>">  <%= row.shopname   %></option>
                          
                            <%   })} %>
                            <% if(warehouselist.length > 0 ){ %>
                              <% warehouselist.forEach(function(row){  %>
                                <option value="<%= row.invid %>">  <%= row.inventoryname   %></option>
                              
                                <%   })} %>
                          </select>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-4">
                          <label for="exampleSelectGender">Select Product Name</label>
                    
                        </div>
                        <div class="col-md-8">
                          <select class="form-control input-sm" id="medicinename"  name="medicinename" >
                            <option value="0">Please Select Product Name</option>
                         <% if(medicinelist.length > 0 ){ %>
                          <% medicinelist.forEach(function(row){  %>
                            <option value="<%= row.medid %>"> <%= row.genericname  %>/ <%= row.medicinename   %>/<%= row.medicinecategoryname   %></option>
                          
                            <%   })} %>
                           
                          </select>
                        </div>
                      </div>
                    
                     
                      <div class="row mt-2">
                       
                        <div class="col-md-12">
                         <div class="row">
                          <div class="col-md-4">
                            <label for="exampleSelectGender">Expiry Date</label>
                      
                          </div>
                          <div class="col-md-8">
                          <input type="date" name="expirydate" id="expirydate" class="form-control">
                          </div>
                         </div>
                        </div>
                      </div>
                     
                      <div class="row mt-2">
                        <div class="col-md-4">
                          <label for="exampleSelectGender">Product Code</label>
                    
                        </div>
                        <div class="col-md-8">
                        <input type="text" name="productcode"  id="productcode" class="form-control">
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-4">
                          <label for="exampleSelectGender">Measurement Unit</label>
                    
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control input-sm" id="searchInput" placeholder="Add or Search for an option">
   
                          <select class="form-control input-sm" id="package"  name="package" >
                            <option value="0">Please Select Measurement Unit</option>
                            <option value="Box">Box</option>
                            <option value="Bottle" >Bottle</option>
                            <option value="PCs" selected>PCs</option>
                           
                          </select>
                          <small><code>Make sure you select in select option if you add new option</code></small>
                        </div>
                      </div>
                      <div class="row">
                       
                        <div class="col-md-6">
                          <div class="row mt-2">
                            <div class="col-md-4">
                              <label for="exampleSelectGender">Unit Cost Price</label>
                        
                            </div>
                            <div class="col-md-8">
                            <input type="text" name="costunitprice" id="costunitprice"  class="form-control" onkeypress='return isNumberKey(event)'>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row mt-2">
                            <div class="col-md-4">
                              <label for="exampleSelectGender">Unit Sell Price</label>
                        
                            </div>
                            <div class="col-md-8">
                            <input type="text" name="sellunitprice" id="sellunitprice"  class="form-control" onkeypress='return isNumberKey(event)'>
                            </div>
                          </div>
                         
                        </div>
                      </div>
                     
                      <div class="row mt-2">
                        <div class="col-md-4">
                          <label for="exampleSelectGender">Quantity</label>
                    
                        </div>
                        <div class="col-md-8">
                        <input type="text" name="totalamount"  id="totalamount" class="form-control" onkeypress='return isNumberKey(event)'>
                        </div>
                      </div>
                        <div class="row mt-2">
                        <div class="col-md-4">
                          <label for="exampleSelectGender">Payment Type</label>
                    
                        </div>
                        <div class="col-md-8">
                        <select name="paymenttype"  id="paymenttype" class="form-control" onchange="displaypaymenttyype(this)">
                          <option value="0">Please select payment type</option>
                          <option value="Cash" selected>Cash/Bank Transfer</option>
                          <option value="Credit">Credit</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mt-2" id="credit" style="display:none">
                       
                        <div class="col-md-8 offset-md-2">
                          <label for="exampleSelectGender"><code>Credit Amount</code></label>
                        <input type="text" name="creditamount"  id="creditamount" class="form-control" onkeypress='return isNumberKey(event)'>
                        </div>
                      </div>
                  
                      <div class="col-md-6 offset-md-3 mt-3">
                        <button type="button" class="btn btn-primary btn-block"  id="addamount">Add</button>
                    
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <script>
                function displaypaymenttyype(pt){
                  var paymenttype = pt.value;
                  if(paymenttype==="Cash"){
                    document.getElementById('credit').style.display="none";
                  }else if(paymenttype ==="Credit"){
                    document.getElementById('credit').style.display="block";
                  }else{
                      document.getElementById('credit').style.display="none";
                  }
                }
              </script>
              <script>
                // Get the select element and search input element
                const select2 = document.getElementById("package");
                const searchInput2 = document.getElementById("searchInput");
        
                // Add an event listener to the search input
                searchInput2.addEventListener("change", function () {
                    const inputValue = searchInput2.value.trim();
                    if (inputValue === "") {
                        return; // Do nothing if the input is empty
                    }
        
                    // Check if the input already exists as an option
                    const optionExists = Array.from(select2.options).some(option => option.value === inputValue);
        
                    if (!optionExists) {
                        // Create and append a new option to the select
                        const newOption = document.createElement("option");
                        newOption.value = inputValue;
                        newOption.textContent = inputValue;
                        select2.appendChild(newOption);
                    }
        
                    // Clear the input field
                    searchInput2.value = "";
                });
            </script>
              <div class="col-md-12">
                <div class="alert alert-dismissible fade show col-sm-12" role="alert" id="serverres" style="display:none;">
                  <p id="servermsg"></p>
                  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                </div>
                <div class="card ">
                	<div class="card-body">
                    <div class="" id="combinationlist">
                    <i class="mdi mdi-database-plus menu-icon icon-lg"></i>	<label><code>Inventory Cart Drug List Will Be Here!</code></label><br>
                      <!-- <ul class="col-md-6 col-sm-6" id="list">

                      </ul> -->
                      <table class="jambo_table bulk_action table-responsive" id="myTable">
                        <thead>
                          <th>Drug Name</th>
                          <th>Inventory Name</th>
                        
                       
                          <th>Package</th>
                        
                          <th>Product Code</th>
                        
                          <th>Expiry. Date</th>
                         
                          <th>Cost Unit Price</th>
                          <th>Sell Unit Price</th>
                          <th>Quantity </th>
                          <th>Total</th>
                          <th>Action</th>
                        </thead>
                        <tbody id="tablerow">
                          
                          
                        </tbody>
                        <tfoot>
                          <tr id="totallast" style="display: none;">
                            <td colspan="8">Total Cost</td>
                            <td id="totalAmount">0</td>
                            <td></td>
                          </tr>
                          </tfoot>
                      </table>
                    </div>
                    <div class="item form-group">
                       <div class="col-md-3 offset-md-9">
                        <label>Total Cost Amount:-&nbsp;</label><h1 id="totalsaleamount"></h1>
                       </div>
                      <div class="col-md-6 col-sm-6 offset-md-3">
                      <form action="/admin/addotherproducttoinventory" method="post">
                        <input type="hidden" name="rowmaterialamountobjarray" id="rowmaterialamountobjarray">
                        <input type="hidden" name="totalamount" id="totalamount">
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                      </form>
                      </div>
                    </div>
                  </div>
                 </div>
              </div> 
            </div>
          </div>
        
          

         
            
            
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.4.0/jquery.json.min.js"></script>
     
            <script>
                  function isNumberKey(evt)
{
var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode != 46 && charCode > 31 
  && (charCode < 48 || charCode > 57))

   return false;

return true;
}
            </script>
             <script>
              document.addEventListener("DOMContentLoaded", function () {
                const rowMaterialAmountArray = []; // Initialize an empty array to store JSON objects
                 
                document.getElementById("addamount").addEventListener("click", function () {
                  const medicineName = document.getElementById("medicinename").value;
                  const inventoryName = document.getElementById("inventoryname").value;
               
                  const expiryDate = document.getElementById("expirydate").value;

                  const costamountInput = document.getElementById("costunitprice");
                  const sellamountInput = document.getElementById("sellunitprice");
                  const totalamount = document.getElementById("totalamount");
                  const sellprice = parseFloat(sellamountInput.value); // Parse the input as a float
                  const costprice = parseFloat(costamountInput.value);
                  const quantity = parseFloat(totalamount.value); 
                  const package = document.getElementById("package").value;
                  const productCode = document.getElementById("productcode").value;
                  const paymenttype = document.getElementById('paymenttype').value;
                  const creditamount = document.getElementById('creditamount').value;
                  const medicinenameso = document.getElementById("medicinename");
                  const so1 = medicinenameso.options[medicinenameso.selectedIndex];
                  const medicine = so1.text; // Get the text of the selected option
                  const inventoryso = document.getElementById("inventoryname");
                  const so2 = inventoryso.options[inventoryso.selectedIndex];
                  const inventory = so2.text; // Get the text of the selected option
                 
                  if (medicine !=="" && medicineName !=="" &&  expiryDate !=="" &&
                  quantity !=="" && sellprice !==0 && costprice !==0 && productCode !=="" && paymenttype !=="0" &&
                  medicineName !=="0"  &&  inventoryName !=="0" &&  
                  package !=="0" &&
                  totalamount !==0 && !isNaN(quantity) && !isNaN(sellprice) && !isNaN(costprice)
                   ) {
                    var total = parseFloat(quantity) * parseFloat(costprice)
                    const rowMaterialAmountObj = {
                      medicineId:medicineName,
                      medicineName:medicine,
                      inventoryName:inventoryName,
                   
                      sellPrice:sellprice,
                      productCode:productCode,
                      expiryDate:expiryDate,
                  
                      quantity:quantity,
                      package:package,
                      costPrice:costprice,
                      paymenttype:paymenttype,
                      creditamount:creditamount,
                      totalcost:total
                    };
                    rowMaterialAmountArray.push(rowMaterialAmountObj);
              
                    // Append the JSON object to the list
                    //$("#list").append("<li><input type='checkbox'  class='form-check-input' checked >" + rowMaterialName + " " + amount + "<span class='removeItem' data-rowMaterialId='${rowMaterialId}'>Remove</span></li>");
                  //	const listItem = document.createElement("li");
                    const tableRow = document.createElement("tr");
  // listItem.innerHTML = `<input type='checkbox' class='form-check-input' checked > ${productName}${brandName} ${amount} <span class='removeItem badge bg-red' data-rowMaterialId='${productId}'>Remove</span>`;
  // document.getElementById("list").appendChild(listItem);
tableRow.innerHTML = `<td> ${medicine} </td><td>${inventory} 
  </td><td>${package}</td>
  <td>${productCode}</td> 
  <td>${expiryDate}</td><td class=''>${costprice}</td> 
  <td>${sellprice}</td><td>${quantity}</td><td class='amount'>${total}</td> 
  <td><span class='removeItem btn btn-danger' data-rowMaterialId='${medicineName}'>Remove</span></td>`;
  document.getElementById("tablerow").appendChild(tableRow);

                    // Update the hidden input field with the array of objects
                    //document.getElementById("rowmaterialamountobjarray").value = JSON.stringify(rowMaterialAmountArray);
                    updateRowMaterialAmountArray();
                    updateTotalAmount();

                    // Clear the input fields
                    
                    document.getElementById("costunitprice").value ="";
                 document.getElementById("sellunitprice").value ="";
                 document.getElementById("totalamount").value ="";
              
                 document.getElementById("inventoryname").value ="0";
                  document.getElementById("medicinename").value ="0";
                 document.getElementById("costunitprice").value ="";
              
                 document.getElementById("package").value ="0";
                  document.getElementById("productcode").value ="";
                  }
                });
                updateTotalAmount();
document.getElementById("tablerow").addEventListener("click", function (event) {
if (event.target.classList.contains("removeItem")) {
const rowMaterialIdToRemove = event.target.getAttribute("data-rowMaterialId");

// Find the parent table row (tr) of the clicked element
const tableRow = event.target.closest("tr");

// Remove the entire table row
if (tableRow) {
  tableRow.remove();

  // Remove the item from the array
  const indexToRemove = rowMaterialAmountArray.findIndex(item => 
      item.medicineId === rowMaterialIdToRemove
  );

  if (indexToRemove !== -1) {
      rowMaterialAmountArray.splice(indexToRemove, 1);

      // Update the hidden input field with the updated array of objects
      updateRowMaterialAmountArray();
updateTotalAmount();
  }
}
}
});
function updateTotalAmount() {
// Calculate the sum of all rows' total amounts
const totalAmountElement = document.getElementById("totalAmount");
let totalAmount = 0;

// Iterate through the rows and sum the amounts
const tableRows = document.querySelectorAll("#tablerow tr");
tableRows.forEach(row => {
const amountCell = row.querySelector(".amount"); // Assuming you have a class "amount" for the amount cells
if (amountCell) {
  totalAmount += parseFloat(amountCell.textContent) || 0;

document.getElementById('totalsaleamount').innerHTML ="";
document.getElementById('totalsaleamount').innerHTML = totalAmount +"Birr";
document.getElementById('totalamount').value = totalAmount;

}
});

// Update the total amount cell
totalAmountElement.textContent = totalAmount.toFixed(2);
const totallast = document.getElementById("totallast");
totallast.style.display = tableRows.length > 0 ? "table-row" : "none";
}
// Function to update the hidden input field with the array of objects
function updateRowMaterialAmountArray() {
document.getElementById("rowmaterialamountobjarray").value = JSON.stringify(rowMaterialAmountArray);
}
              
              
              });
              </script>
              <!-- <script>
                document.addEventListener("DOMContentLoaded", function () {
                  // Get references to the select elements and price input
                  const productSelect = document.getElementById("productid");
                  const brandSelect = document.getElementById("brandid");
                  const priceInput = document.getElementById("price");
                
                  // Your pricelist data (replace this with your actual data)
               

                  // Replace escaped quotes with regular quotes
                  const cleanedPricelistJSON = pricelistJSON.replace(/&#34;/g, '"');
                  
                  // Parse the cleaned JSON data into a JavaScript object
                  const pricelist = JSON.parse(cleanedPricelistJSON);

                  // Event listener for the brand select element
                  brandSelect.addEventListener("change", function () {
                    const selectedProductid = productSelect.value;
                    const selectedBrandid = brandSelect.value;
                
                    // Find the matching price in the pricelist
                    const matchingPrice = pricelist.find(item => item.productid === selectedProductid && item.brandid === selectedBrandid);
                    console.log(pricelist)
                    if (matchingPrice) {
                      // Update the price input with the matching price
                      priceInput.value = matchingPrice.proprice;
                    } else {
                      // If no matching price is found, you can handle this case here
                      priceInput.value = ""; // Set it to an empty value or display an error message
                    }
                  });
                });
                </script> -->
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
     

        <%- include ('./partials/footer')%>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../../../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../../../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../../../js/off-canvas.js"></script>
  <script src="../../../js/hoverable-collapse.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/settings.js"></script>
  <script src="../../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../../../js/dashboard.js"></script>
  <!-- End custom js for this page-->
  <script>
		$(document).ready(function() {
			
			$('#myTable').DataTable();
		
		});
	</script>
	<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
 
	<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
	
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var select = document.getElementById("medicinename");
      var options = Array.from(select.options);
  
      var searchInput = document.createElement("input");
      searchInput.setAttribute("type", "text");
      searchInput.setAttribute("placeholder", "Search Product Name");
      searchInput.setAttribute("class", "form-control");
      select.parentNode.insertBefore(searchInput, select.nextSibling);
  
      searchInput.addEventListener("input", function () {
        var searchTerm = searchInput.value.toLowerCase();
  
        // Remove all options
        select.innerHTML = "";
  
        // Add the default option back
        var defaultOption = document.createElement("option");
        defaultOption.value = "0";
        defaultOption.disabled = true;
        defaultOption.hidden = true;
        defaultOption.textContent = "Select or type to search";
        select.appendChild(defaultOption);
  
        // Add options that match the search term
        options.forEach(function (option) {
          if (option.textContent.toLowerCase().includes(searchTerm)) {
            select.appendChild(option.cloneNode(true));
          }
        });
      });
    });
  </script>
</body>

</html>

