
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- base:css -->
  <link rel="stylesheet" href="../../../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../../images/favicon.png" />
</head>
<body>
 
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include ('./partials/header') %>
    <!-- partial -->
  
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <% if(user.user_roll == "Admin"){%>
        <%- include ('./partials/sideadmin') %>
     <% }else if(user.user_roll == "Sales_Manager"){%>
      <%- include ('./partials/sidesales') %>
      <% }else if(user.user_roll =="Inventory_Manager"){%>
        <%- include ('./partials/sideinventory') %>
        <% }else{%>
     
          <% }%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">


            <div class="col-12 grid-margin stretch-card">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item">Manage Sales</li>
                  <li class="breadcrumb-item active"><a href="#">Today Sales List</a></li>
                
                </ol>
              </nav>
              </div>
              <div class="row">
            
          
           
         
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Total Sale <br>Today(By Shop)</h4>
                      <div class="media">
                         <i class="mdi mdi-shopping icon-md text-info d-flex align-self-start mr-3"></i>
                        <div class="media-body">
                          <ul class="list-ticked">
                           
                            <% if(todaysalesbyshop.length >0){%>
                              <% todaysalesbyshop.forEach(function (row){%>
                            <li>  <%= row.shopname %>  &gt;<span><%= row.quantity %></span></li>
                             <% }) %>
                             <%}%>
                             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Total Sale <br>Today(By Cashier)</h4>
                      <div class="media">
                         <i class="mdi mdi-shopping icon-md text-info d-flex align-self-start mr-3"></i>
                        <div class="media-body">
                          <ul class="list-ticked">
                           
                            <% if(todaysalesbycashier.length >0){%>
                              <% todaysalesbycashier.forEach(function (row){%>
                            <li>  <%= row.cashiername %>  &gt;<span><%= row.quantity %></span></li>
                             <% }) %>
                             <%}%>
                             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Top 5 Sold Medicine Sale Today(Quantity)</h4>
                      <div class="media">
                         <i class="mdi mdi-shopping icon-md text-info d-flex align-self-start mr-3"></i>
                        <div class="media-body">
                          <ul class="list-ticked">
                           
                            <% if(todaysalesbyquantity.length >0){%>
                              <% todaysalesbyquantity.forEach(function (row){%>
                            <li>  <%= row.medicinename %>  &gt;<span><%= row.quantity %></span></li>
                             <% }) %>
                             <%}%>
                             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Top 5 Sold Medicine Sale Today(By Amount)</h4>
                      <div class="media">
                         <i class="mdi mdi-shopping icon-md text-info d-flex align-self-start mr-3"></i>
                        <div class="media-body">
                          <ul class="list-ticked">
                           
                            <% if(todaysalesbyvalue.length >0){%>
                              <% todaysalesbyvalue.forEach(function (row){%>
                            <li>  <%= row.medicinename %>  &gt;<span><%= row.quantity %></span></li>
                             <% }) %>
                             <%}%>
                             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="">
                    <table id="myTable" class="table  table-striped table-sm table-responsive" >
                    <thead>
                       <th>#</th>
                      <th>Shop Name</th>
                    <th>Sold  By</th>
                    <th>Drug Info</th>
                    <th> Quantity X Unit Price = Total</th>
               
                    <th>Sale Day</th>
                    </thead><tbody>
                      <% if(salelist.length >0){%>
                        <% var i =0 %>
                        <% salelist.forEach(function(row){%>
                          <% i++ %>
                         <tr>
                          <td><%= i %></td>
                          <td><%= row.shopname %></td>
                          <td><%= row.fullname %></td>
                          <td><%= row.medicinename %></td>
                           <td><%= row.quantity %> X <%= row.unitprice %> = <%= row.totalpayable %></td>
                           <td><%= new Date(row.createdAt).toLocaleDateString() %></td>
                         </tr>
                        
                        <% })}else{}%>
                    </tbody>
                    </table>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>
         

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
       <%- include ('./partials/footer') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../../../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../../../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../../../js/off-canvas.js"></script>
  <script src="../../../js/hoverable-collapse.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/settings.js"></script>
  <script src="../../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../../../js/dashboard.js"></script>
  
<script>
  $(document).ready(function() {
      $('#myTable').DataTable();
  });
</script>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">

<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

