<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <!-- base:css -->
  <link rel="stylesheet" href="../../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
  
</head>
<body>
 
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include ('./partials/header')%>
    <!-- partial -->
  
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
   
  
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
    
      <% if(user.user_roll == "Admin"){%>
        <%- include ('./partials/sideadmin') %>
     <% }else if(user.user_roll == "Sales_Manager"){%>
      <%- include ('./partials/sidesales') %>
      <% }else if(user.user_roll =="Inventory_Manager"){%>
        <%- include ('./partials/sideinventory') %>
        <% }else{%>
     
          <% }%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item " aria-current="page">Settings</li>
              <li class="breadcrumb-item active"><a href="#">Manage User/Edit</a></li>
          
            </ol>
          </nav>
          <div class="row">
            <div class="col-md-12">
           
              <div class="card">
                <div class="card-body">
                  <%- include ('./partials/messages') %>
                  <ul class="nav nav-tabs justify-content-end bar_tabs" id="myTab" role="tablist">
										<li class="nav-item">
										  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Edit User Credentials</a>
										</li>
										
										
										<li class="nav-item">
											<a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">User Credentials List</a>
										  </li>
									  </ul>
									  <div class="tab-content" id="myTabContent">
										<div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                    <% if(editeduser){ %>
                        <form class="forms-sample" action="/setting/updateuserinfo" method="post">
                            <input type="hidden" name="staffid" value="<%= staffid %>">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputCity1">Full Name</label>
                                  <input type="text" class="form-control" autocomplete="nope" id="fullname" name="fullname" placeholder="<%= editeduser.fullname %>">
                        
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputCity1">Phone Number</label>
                                  <input type="text" class="form-control" autocomplete="nope" id="phonenumber" name="phonenumber" placeholder="<%= editeduser.phone_number %>">
                        
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputName1">User Name</label>
                              <input type="text" class="form-control" autocomplete="unInput" id="username" name="username" placeholder="<%= editeduser.username %>">
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputCity1">Password</label>
                                  <input type="password" class="form-control"autocomplete="new-password" id="password" name="password" placeholder="Password">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputCity1">Re Type Password</label>
                                  <input type="password" class="form-control" autocomplete="new-password" id="repassword" name="repassword" placeholder="Re type Password">
                                </div>
                              </div>
                            </div>
                           
                           
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputCity1">User Roll(<%= editeduser.user_roll %>)</label>
                                  <select class="form-control" name="userroll"  onchange="changeshopware(this);">
                                    <option value="0">Select User Roll</option>
                                    <option value="Sales_Manager">Sales Manager</option>
                                    <option value="Inventory_Manager">Inventory Manager</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6" id="shop" style="display: none;">
                                <div class="form-group" >
                                  <label for="exampleInputCity1">Shop List</label>
                                  <select class="form-control" name="shopid">
                                    <option value="0">Select Shop</option>
                                   <% if(shoplist.length >0){ %>
                                      <% shoplist.forEach(function (row){%>
                                        <option value="<%= row.shopid %>"><%= row.shopname %></option>
                                      <%})%>
                                   <%}else{} %>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6" id="inventory" style="display: none;">
                                <div class="form-group">
                                  <label for="exampleInputCity1">Inventory Address</label>
                                  <select class="form-control" name="wareid">
                                    <option value="0">Select Inventory</option>
                                    <% if(inventorylist.length >0){ %>
                                      <% inventorylist.forEach(function (row){%>
                                        <option value="<%= row.invid %>"><%= row.inventoryname %></option>
                                      <%})%>
                                   <%}else{} %>
                                  </select>
                                </div>
                              </div>
                            </div>
                          
                           <script>
    
                            function changeshopware(userroll){
                              var xx = userroll.value;
                              console.log(xx)
                              if(xx === "Sales_Manager"){
                               document.getElementById('shop').style.display ='block';
                               document.getElementById('inventory').style.display ='none';
                              }else if(xx ==="Inventory_Manager"){
                                document.getElementById('shop').style.display ='none';
                                document.getElementById('inventory').style.display ='block';
                              }else{
                                document.getElementById('shop').style.display ='none';
                                document.getElementById('shop').style.display ='none';
                              }
                            }
                           </script>
                         
                            <div class="col-md-6 offset-md-3">
                              <button type="submit" class="btn btn-primary btn-block">Submit</button>
                          
                            </div>
                         
                          </form>
                   <% }%>
                        
										</div>
										
									
										<div class="tab-pane fade" id="contact2" role="tabpane" aria-labelledby="contact2-tab">
											<table class="table table-striped jambo_table bulk_action table-responsive" id="myTable">
												<thead>
												  <tr class="headings">
												    <th class="ml-5">#</th>
                            <th>Full Name</th>
                            <th>Phone Number</th>
                            <th>User Name</th>
                            <th>User Roll</th>
                            <th>Shop/Warehouse Info</th>
                            <th>Action </th>
                            <th> ToDo</th>
												  </tr>
												</thead>
						
												<tbody>
												
                          <% if (userlist.length >0){ %>
                            <% var i =0; %> 
                         
                          <% userlist.forEach(function(row){ %>
                            <% i++ ; %>
                         <tr>
                          <td><%= i %></td>
                           <td><%= row.fullname %></td>
                           <td><%= row.phone_number %></td>
                           <td><%= row.username %></td>
                           <td><%= row.user_roll %></td>
                           <td><%= row.location_name %></td>
                           <td><form action="/setting/edituser/<%= row.staffid %>" method="post">
                            <button type="submit" class="btn btn-block btn-primary">Edit<i class=" fa fa-edit"></i></button>
                          </form></td>
                           <td>
                            <% if(row.is_active ==="Yes"){%>
                              <form action="/setting/diactivateuser/<%= row.staffid %>" method="post">
                                <button type="submit" class="btn btn-block btn-danger">Diactivate</button>
                               </form>
                            <%}else{%>
                              <form action="/setting/activateuser/<%= row.staffid %>" method="post">
                                <button type="submit" class="btn btn-block btn-success">Activate</button>
                               </form>
                            <%}%>
                           
                          
                          </td>
                           
                          </tr>
                       
                          <% })} else { %>
                      
                            <%  } %>

											
											  </table>
										  </div>

									  </div>
                </div>
              </div>
            </div>
          </div>
           
            
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
   
        <%- include ('./partials/footer')%>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../../js/dashboard.js"></script>
  <!-- End custom js for this page-->
  <script>
		$(document).ready(function() {
			$('#myTable').DataTable();
		});
	</script>
	<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
 
	<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
</body>

</html>

