
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- base:css -->
  <link rel="stylesheet" href="../../../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../../images/favicon.png" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
   <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include ('./partials/header') %>
    <!-- partial -->
  
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <% if(user.user_roll == "Admin"){%>
        <%- include ('./partials/sideadmin') %>
     <% }else if(user.user_roll == "Sales_Manager"){%>
      <%- include ('./partials/sidesales') %>
      <% }else if(user.user_roll =="Inventory_Manager"){%>
        <%- include ('./partials/sideinventory') %>
        <% }else{%>
     
          <% }%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">


            <div class="col-12 grid-margin stretch-card">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item">Manage Inventory</li>
                  <li class="breadcrumb-item active"><a href="#">Current Medicine Inventory List</a></li>
                
                </ol>
              </nav>
              </div>

          <div class="row">
          
            
            <%- include ('./partials/messages') %>
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="">
                   
                      <div id="filteredInventory">
                        <table class="table table-striped jambo_table table-responsive " id="myTable">
                          <thead>
                            <th>#</th>
                            <th>Location Name</th>
                            <th>Generic Name</th>
                            <th>Medicine Name</th>
                            <th>Medicine Category Code</th>
                            <th>Amount</th>
                            <th>Details</th>
                          </thead>
                          <tbody>
                            <% if(inventorytot.length > 0) { %>
                              <% var i = 0 %>
                              <% inventorytot.forEach(function(row) { %>
                                <% i++ %>
                                 <tr class="main-row" 
                                data-medicineid="<%= row.medicineid %>" 
                                data-genericname="<%= row.genericname %>"
                                data-medicinecategoryname="<%= row.medicinecategoryname %>"
                                data-locationname="<%= row.location_name %>">
                              <!-- ... Rest of your main row content ... -->
                            
                                  <td><%= i %></td>
                                  <td><%= row.location_name %></td>
                                  <td><%= row.genericname %></td>
                                  <td><%= row.medicinename %></td>
                                  <td><%= row.medicinecategoryname %></td>
                                  <td><%= row.totalamount %></td>
                                  <td>
                                    <!-- Button to toggle visibility of nested rows -->
                                  
                                    <button type="button" class="btn btn-info btn-sm toggle-details" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      Show Details
                                    </button>
                                  </td>
                                </tr>
                                <!-- Nested table for additional details -->
                              
                              <% }) }%>
                            </tbody>
                          </table>
                      </div>
                      
                    
                    </div>
                   
                </div>
              </div>
            </div>
           
          </div>

        </div>
       

     
        
        


        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
       <%- include ('./partials/footer') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- Include Select2 CSS -->
 <!-- Button trigger modal -->


<!-- Modal -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inventory Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="">
        <table id="modalTable" class="table table-responsive">
          <thead>
            <th>Location Name</th>
            <th>Generic Name</th>
            <th>Medicine Name</th>
            <th>Product Code</th>
           
            <th>Expiry Date</th>
           
            <th>Quantity</th>
            <th>Update New Quantity</th>
            <th>Update New Price</th>
          </thead>
          <tbody id="modalTableBody"></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
  <!-- container-scroller -->
 
  <!-- base:js -->
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../../../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../../../js/off-canvas.js"></script>
  <script src="../../../js/hoverable-collapse.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/settings.js"></script>
  <script src="../../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../../../js/dashboard.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

 
  <script>
    $(document).ready(function () {
// Existing code...
var invdt2 = '<%= JSON.stringify(inventory) %>';
    const cleanedInventJSON2 = invdt2.replace(/&#34;/g, '"');
    var inventoryData2 = JSON.parse(cleanedInventJSON2);
// Delegate click event to a static parent element
$('#filteredInventory').on('click', '.toggle-details', function () {
var mainRow = $(this).closest('.main-row');
var medicineId = mainRow.data('medicineid');
var genericName = mainRow.data('genericname');
var category = mainRow.data('medicinecategoryname');
var locationName = mainRow.data('locationname');
console.log(medicineId);
console.log(genericName);
console.log(category);
console.log(locationName);

// // Use multiple criteria for filtering
// var nestedRow = $('.nested-row[data-medicineid="' + medicineId + '"][data-genericname="' + genericName + '"][data-medicinecategoryname="' + category + '"][data-locationname="' + locationName + '"]');
// console.log(nestedRow)
// // Check the current display property
// var currentDisplay = nestedRow.css('display');

// // Toggle the display property
// if (currentDisplay === 'none') {
//   nestedRow.css('display', 'table-row');
// } else {
//   nestedRow.css('display', 'none');
// }
var matchingDetails = inventoryData2.filter(function(item) {
        return item.medicineid === medicineId &&
               item.genericname === genericName &&
               item.location_name === locationName &&
               item.medicinecategoryname === category;
      });

      // Generate HTML content for the modal
      var modalTableBody = $('#modalTableBody');
    modalTableBody.empty();
      matchingDetails.forEach(function(detail) {
        var date2 = new Date(detail.expirydate);
        var date1 = new Date();
        var monthsLeft = Math.floor((date2 - date1) / (1000 * 60 * 60 * 24 * 30.44));
        var badgeClass = '';

        if (monthsLeft < 4) {
          badgeClass = 'badge-danger';
        } else if (monthsLeft >= 4 && monthsLeft <= 6) {
          badgeClass = 'badge-warning';
        } else {
          badgeClass = 'badge-success';
        }

        modalTableBody.append(`
        <tr>
          <td>${detail.location_name }</td>
          <td>${detail.genericname}</td>
          <td>${detail.medicinename}</td>
          <td>${detail.productcode}</td>
        
          <td><span class="badge ${badgeClass}">${new Date(detail.expirydate).toLocaleDateString()}</span></td>
        
          <td>${detail.quantity}</td>
          <td >
            <form action="/admin/updateinventoryqtyother" method="post">
              <div class="row">
                <div class="col-md-7">
                  <input name="newqty" type="number" placeholder="New Quantity" class="form-control form-control-sm">
              <input type="hidden" name="invid" value="${detail.invid}">
                  </div>
                  <div class="col-md-5">
                    <button type="submit" class="btn btn-block btn-sm btn-danger" >Update</button>
                  </div>
                </div>
            
            
              </form>
            </td>
            <td >
            <form action="/admin/updateinventorypriceother" method="post">
              <div class="row">
                <div class="col-md-7">
                  <input name="newprice" type="number" placeholder="New Price" class="form-control form-control-sm">
              <input type="hidden" name="invid" value="${detail.invid}">
                  </div>
                  <div class="col-md-5">
                    <button type="submit" class="btn btn-block btn-sm btn-primary" >Update</button>
                  </div>
                </div>
            
            
              </form>
            </td>
        </tr>
      `);
      });

      // Populate modal content
      // var detailsModalBody = document.getElementById('modalinsertdt');
      // detailsModalBody.innerHTML = modalContent;

    
     

});
});

  </script>
    
<script>
$(document).ready(function () {
  // Initialize DataTables after the table is rendered
  $('#myTable').DataTable({});
});
</script>

<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>

</body>

</html>

